name: Checkstyle

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  checkstyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest
